* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    width: 100%;
}

nav {
    width: 75%;
    margin: 0 auto;
}

nav ul {
    display: table;
    width: 100%;
}

nav ul li {
    display: table-cell;
    width: 25%;
    background-color: green;
    height: 5vh;
}

nav ul li:hover {
    background-color: yellow;
    color: white;
    height: 100%;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

.active {
    background-color: red;
}