.serveis{
    background-color: violet;
    color:midnightblue;
    font-weight: bold;
}

.seguretat{
background-color:aquamarine;
color: purple;
font-weight: bold;
}

.sistemes{
background-color: rgb(253, 192, 170);
color:rgb(139, 46, 46);
font-weight: bold;
}

.aplicacions{
background-color: darkcyan;
color: skyblue;
font-weight: bold;
}

.pati{
background-color: deeppink;
font-weight: bold;
color: white;
}

.eie{
background-color: khaki;
color: olive;
font-weight: bold;
}

.horas{
background-color: lightgreen;
font-weight: bold;
}

.dias{
background-color: lightsteelblue;
font-weight: bold;
}

.horario{
    background-color: rgb(177, 177, 133);
    font-weight: bold;
}

.grupo{
    background-color: slateblue;
    font-weight: bold;
}

td{
    border: rgb(255, 157, 30) 2px solid;
}

nav ul {
display: flex;
padding: 0%
}

nav a {
    text-decoration: none;
    color: white;
}
nav li{

    margin-right: 5px;
    list-style-type: none;
    border-radius: 3px;
    text-align: center;
    background-image: linear-gradient(90deg,#00c0ff 0,#ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:20px;
    font-weight:700;
    padding: 8px;
}

nav li:hover{
    animation: colorines 2s linear infinite;
}

nav li::after{
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: centerS;
}

@keyframes colorines{
    to{
        background-position: 20vw;
    }
}