.serveis{
    background-color: violet;
    color:midnightblue;
    font-weight: bold;
}

.seguretat{
background-color:aquamarine;
color: purple;
font-weight: bold;
}

.sistemes{
background-color: rgb(253, 192, 170);
color:rgb(139, 46, 46);
font-weight: bold;
}

.aplicacions{
background-color: darkcyan;
color: skyblue;
font-weight: bold;
}

.pati{
background-color: deeppink;
font-weight: bold;
color: white;
}

.eie{
background-color: khaki;
color: olive;
font-weight: bold;
}

.horas{
background-color: lightgreen;
font-weight: bold;
}

.dias{
background-color: lightsteelblue;
font-weight: bold;
}

.horario{
    background-color: rgb(177, 177, 133);
    font-weight: bold;
}

.grupo{
    background-color: slateblue;
    font-weight: bold;
}

td{
    border: rgb(255, 157, 30) 2px solid;
}


table {text-align: center;}